<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621584861964-g2fmksvvlr3kgh4ui7rm3pcih8pr5rmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621584861964-g2fmksvvlr3kgh4ui7rm3pcih8pr5rmd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>621584861964-5kjp01ou3pvrm7rpvh394ars96nbmgcs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWP4iNUVtH6JJeIzSH_gcO0On7ZRMz_Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>621584861964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jomudev.liliDeliveryCustomer</string>
	<key>PROJECT_ID</key>
	<string>lilideliverytesting</string>
	<key>STORAGE_BUCKET</key>
	<string>lilideliverytesting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621584861964:ios:e1676f42db421767381729</string>
</dict>
</plist>